<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<style>
#tabsContainer { float:center; margin:auto; margin-bottom:50px }
.tabs ul {list-style:none;}
.tabs ul li {display:inline-block; width:30%; text-align:center }
.tabs ul li a{text-decoration:none}
.tabs ul li a:hover { color:blue; background:none }

iframe { width:700px; height:852px; }
#brunch-contents, #lunch-contents, #dinner-contents {
	text-align:center;
	float:center;
	width:720px;
	margin:auto;
}
</style>
<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="four columns" id="tabsContainer">
				<div class="tabs">
					<ul>
						<li> <a href="#brunch-contents" id="brunch">Brunch</a></li>
						<li> <a href="#lunch-contents" id="lunch">Lunch</a></li>
						<li> <a href="#dinner-contents" id="dinner">Dinner</a></li>
					</ul>
				</div>
			</div>
			<div id="brunch-contents">
				<iframe src="<%=@menu.brunch.url%>" frameborder="0"></iframe>
			</div>
			<div id="lunch-contents">
				<iframe src="<%=@menu.lunch.url%>" frameborder="0"></iframe>
			</div>
			<div id="dinner-contents">
				<iframe src="<%=@menu.dinner.url%>" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(document).ready(function() {
	$("#brunch-contents").hide();
	$("#lunch-contents").hide();
	$("#dinner").css("color", "red");
	$(".header ul li#menus a").css("color", "red");
	
	
	$(".tabs ul li a").click(function (event) {
			event.preventDefault();
			$("#brunch-contents").hide();
			$("#lunch-contents").hide();
			$("#dinner-contents").hide();
			$($(this).attr("href").toString()).fadeIn(300);

			$("#brunch").css("color", "black");
			$("#lunch").css("color", "black");
			$("#dinner").css("color", "black");
			$(this).css("color", "red");
			return false;
	});
});
</script>